@use './breakpoint';
@use 'sass:math';

// used in .container and .container-fluid
@mixin make-container(
  $gutter-width
) {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: math.div($gutter-width, 2);
  padding-left: math.div($gutter-width, 2);
}

// For each breakpoint, define the maximum width of the container
@mixin make-container-max-widths(
  $max-widths,
  $breakpoints
) {
  @each $breakpoint, $max-width in $max-widths {
    @include breakpoint.media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $max-width;
    }
  }
}
